body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    background: linear-gradient(teal , mediumseagreen);
}
img{
    height :100px;
    width :100px ;
    border-radius: 50%;
    object-fit: cover;
}